
.idea/workspace.xml
resources/MemoristAPI/login/__pycache__/admin.cpython-36.pyc
resources/MemoristAPI/login/__pycache__/index.cpython-36.pyc
resources/MemoristAPI/login/__pycache__/serializers.cpython-36.pyc
resources/MemoristAPI/login/__pycache__/urls.cpython-36.pyc
resources/MemoristAPI/login/__pycache__/views.cpython-36.pyc
resources/MemoristAPI/login/migrations/__pycache__/
resources/MemoristAPI/login/__pycache__/models.cpython-36.pyc