{% extends "base.html.tmpl" %}

{% block content %}
<h3> Confirm your email address on Memorist</h3>
Hello! We just need to verify that {{email}} is your email address <br/>
<a href="{{url}}"><button style="margin-top:10px; background-color: #4CAF50; text-align: center; border-radius: 12px;" type="button" >
     Confirm Email Address</button></a>

{% endblock %}