{% extends "base.html.tmpl" %}

{% block content %}
<p>
      Dear {{ first_name }} {{ last_name }},
 </p>
{{ sender }} has just sent you a message. <br/>
You have registered to {{ sender }} using this email<br/>
{% endblock %}
