{% extends "base.txt.tmpl" %}

{% block content %}
Dear {{ first_name }} {{ last_name }},

{{ sender }} has just sent you a message.

You have registered to {{ sender }} using this email.
{% endblock %}
