{% extends "base.html.tmpl" %}

{% block content %}


{{inviter}} has just sent you a message to link Troperty.<br/>
<a href="{{url}}"><button style="margin-top:10px; background-color: #4CAF50; text-align: center; border-radius: 8px;" type="button" >
     Open App</button></a>
{% endblock %}
